.titulo {
    padding: 10px;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 98%;
    margin: 10px;
}

table td {
    border: 1px solid black;
    padding: 10px;
}

table tr:hover {
    background-color: gray;
    color: aliceblue;
}

table td:hover {
    background-color: #1E3C8B;
}

table th {
    border: 1px solid black;
    padding: 4px;
    ;
}
