<h2 class="presentationTest">Presentación de la Prueba</h2>

<p class="p-3">A continuación, encontrará una serie de preguntas del entorno laboral, por favor responda de acuerdo a su criterio, recuerde que no hay respuestas buenas o malas. </p>

<p class="pl-3 font-weight-bold">Preguntas:</p>

<p class="pl-3 ml-5">1. ¿Qué es un cliente?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      És la persona mas importante de la empresa.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">És una persona que no viene a comprar.</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">És una persona que no necesita ningún producto o servicio.</label>
</form>
<p class="pl-3 ml-5">2. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Hay oportunidades en que dejo que otros asuman la responsabilidad para resolver el problema.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. En vez de negociar los puntos en desacuerdo, trato de enfatizar los aspectos en que concordamos.</label>

</form>
<p class="pl-3 ml-5 mt-5">3. Pedro atiende en un cine vendiendo entradas, se ha formado una gran fila y los clientes empiezan a quejarse, Pedro le dice que tienen que esperar porque no hay más personal. <br> ¿Crees que Pedro actuó de forma adecuada?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>
<p class="pl-3 ml-5">4. ¿Le interesa conocer gente y atravezar situaciones nuevas?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>
<p class="pl-3 ml-5 mt-5">5. Debe saber usted quien hará qué y cómo une el trabajo suyo con el de otros</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">6. ¿Porque se pierden los clientes?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Por los precios muy altos
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Por tener una actitud positiva con los clientes</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Las empresas deben tratar a los clientes por igual, la personalización conlleva retrasos inoportunos para el trabajador</label>
</form>

<p class="pl-3 ml-5 mt-5">7. Las empresas deben tratar a los clientes por igual, la personalización conlleva retrasos inoportunos para el trabajador</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">8. ¿Prefiere una jornada de trabajo no estructurada?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">9. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de buscar una solución de compromiso.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de tomar en cuenta todos los puntos que me preocupan a mí y al otro.</label>
</form>

<p class="pl-3 ml-5 mt-5">10. En todo equipo se requiere que al menos uno de los miembros sea el de las ideas</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">11. ¿Qué es un servicio?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Es el conjunto de prestaciones que el cliente no espera recibir
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Además del producto o servicio básico Es el conjunto de prestaciones que el cliente espera</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Además del producto o servicio básico Es un producto o servicio</label>
</form>

<p class="pl-3 ml-5">12. Cuando su agenda diaria se desorganiza inesperadamente, ¿se adapta y hace los ajustes con facilidad?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">13. Es necesario que uno de los miembros actúe como conciliador, negociador, etc</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>


<p class="pl-3 ml-5 mt-5">14. Uno debe decir una falacia al cliente prometiendo un plazo, lo importante es que el cliente este feliz</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">15. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Habitualmente, soy decidido para lograr mis objetivos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Puedo tratar de limar las asperezas y mantener la relación</label>

</form>

<p class="pl-3 ml-5">16. ¿Cuáles son los dos tipos de comunicación?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Comunicación corporal, comunicación verbal
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Comunicación verbal, comunicación no verbal</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Comunicación escrita, comunicación oral</label>
</form>

<p class="pl-3 ml-5 mt-5">17. Escuchar al cliente como una estrategia para mejorar la calidad de la atención, conlleva gastos innecesarios para la empresa, por tanto, nosotros debemos realizar nuestro propio modelo de atención al cliente</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">18. ¿Le fastidia la rutina?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">19. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de buscar una solución de compromiso.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. A veces sacrifico mis propios deseos en favor de los del otro</label>

</form>

<p class="pl-3 ml-5">20. Cuando usted deja un puesto o consigue una promoción ¿le resulta fácil despedirse?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">21. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. 22.	La planeación del trabajo del equipo debe estar a cargo de todos
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de hacer lo que pueda para evitar tensiones inútiles.</label>

</form>

<p class="pl-3 ml-5 mt-5">22. La planeación del trabajo del equipo debe estar a cargo de todos</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">23. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      	A. Trato de evitarme desagrados.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B.Trato de imponer mi posición.</label>

</form>

<p class="pl-3 ml-5 mt-5">24. El pedir cuentas o llamar la atención es contraproducente para el buen funcionamiento</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">25. Mencione un beneficio de una buena atención al cliente</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Incremento de ventas y clientes satisfechos
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Clientes satisfechos No Incremento de ventas</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Menos clientes satisfechos</label>
</form>

<p class="pl-3 ml-5 mt-5">26. El buen humor es un requisito para la eficacia de un equipo de trabajo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">27. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de postergar el tema hasta que haya tenido tiempo para meditarlo.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Cedo en algunos puntos a cambio de lograr otros.</label>

</form>

<p class="pl-3 ml-5">28. En una reunión social, ¿se siente cómodo conversando con gente que no conoce?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">29. La administración del trabajo debe correr a cargo de todos los del equipo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">30. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Habitualmente, soy decidido para lograr mis objetivos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato que todas las dudas y problemas salgan a la superficie en forma inmediata.</label>

</form>

<p class="pl-3 ml-5">31. ¿Busca nuevas aventuras y experiencias en su vida?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">32. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Siento que no siempre vale la pena preocuparse de las diferencias.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Hago esfuerzos para salirme con la mía</label>

</form>

<p class="pl-3 ml-5 mt-5">33. Controlar los resultados es responsabilidad de cada miembro</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">34. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Soy decidido para lograr mis objetivos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de encontrar una solución de compromiso.</label>

</form>

<p class="pl-3 ml-5">35. ¿Hace nuevos amigos fácilmente?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">36. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato que todas las dudas y problemas salgan a la luz en forma inmediata.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Puedo tratar de limar las asperezas y mantener la relación.</label>

</form>

<p class="pl-3 ml-5 mt-5">37. .Socializar entre los miembros facilita un buen resultado de trabajo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">38. ¿Cuándo se enfrenta con un problema nuevo siente desafiado y estimulado?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">39. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A veces evito tomar posiciones que puedan crear controversia.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Le acepto al otro algunos de sus argumentos si él me permite mantener algunos de los míos</label>

</form>

<p class="pl-3 ml-5">40. ¿Sabe lo que se espera de usted cuando es contratado en un trabajo?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">41. El miembro con más conocimiento es quien debe el líder del equipo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">42. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Propongo una posición intermedia.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B.Hago presión por mis puntos de vista.</label>

</form>

<p class="pl-3 ml-5 mt-5">43. Todos deben expresar y defender con firmeza sus puntos de vista, aunque difieran</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">44. ¿Es rápido para aceptar nuevas ideas en el trabajo?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">45. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Le expreso mis ideas y solicito las suyas.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de demostrarle la lógica y los beneficios de mi posición.</label>

</form>

<p class="pl-3 ml-5 mt-5">46. Un solo miembro con mala actitud puede arruinar el trabajo de todos</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">47. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Puedo tratar de limar las asperezas y mantener la relación.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de hacer lo que sea necesario para evitar tensiones.</label>

</form>

<p class="pl-3 ml-5 mt-5">48. El miembro más tímido y sencillo puede aportar una gran idea</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">49. El trabajo da la oportunidad de hacer lo mejor posible cada día</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">50. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de no herir los sentimientos del otro.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de convencer a la otra persona sobre los méritos de mi posición</label>

</form>

<p class="pl-3 ml-5">51. ¿Presta atención y trata de cumplir cuando al guíen cercano a usted le pide cambiar algo que no le agrada?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">52. Es común que en un equipo ocurran las luchas por el poder</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">53. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Habitualmente, soy decidido para lograr mis objetivos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de hacer lo que pueda para evitar tensiones inútiles.</label>

</form>

<p class="pl-3 ml-5 mt-5">54. La mayoría tiene la razón</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">55. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Si hace feliz a la otra persona, podría dejarlo mantener sus puntos de vista.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Le acepto al otro algunos de sus argumentos si él me permite mantener alguno de los míos.</label>

</form>

<p class="pl-3 ml-5">56. ¿Piensa que puede manejar cualquier cambio que le cae por casualidad?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">57. Todos buscan, aunque sea inconsciente el reconocimiento por su esfuerzo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">58. En mis trabajos he recibido reconocimiento por hacer el trabajo indicado</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5">59. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato que todas las dudas y problemas salgan a la superficie en forma inmediata.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de postergar el tema hasta que haya tenido tiempo para meditarlo.</label>

</form>

<p class="pl-3 ml-5 mt-5">60. Las personas necesitan pertenecer a algo y un equipo de trabajo sacia su necesidad</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">61. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de resolver nuestras diferencias en forma inmediata.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de encontrar una combinación justa de ganancias y pérdidas para ambos.</label>

</form>

<p class="pl-3 ml-5">62. Cuando se produce un cambio en su oficina, ¿está dispuesto a aceptarlo y no detenerse?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">63. La sinergia es una prueba de la eficiencia del equipo de trabajo</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">64. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Al iniciar negociaciones trato de ser considerado respecto de los deseos de la otra persona.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Siempre me inclino por una discusión directa del problema.</label>

</form>

<p class="pl-3 ml-5 mt-5">65. Todos los miembros deben tener la misma motivación en tipo de identidad</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">66. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. A menudo me preocupo de satisfacer todos nuestros deseos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Hay oportunidades en que dejo que otros asuman la responsabilidad para resolver el problema.</label>

</form>

<p class="pl-3 ml-5 mt-5">67. El establecimiento de límites favorece el desempeño efectivo </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">68. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Si la posición de la otra persona parece serle muy importante, trato de cumplir sus deseos.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Trato de que él se avenga a una solución de compromiso</label>

</form>

<p class="pl-3 ml-5 mt-5">69. Es normal y hasta benéfico que surjan conflictos y desavenencias</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">70. .Cuando se produce un cambio en su vida, ¿lo entusiasman las posibilidades que plantea?</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Siempre
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">Casi siempre</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Algunas veces</label><br>
    <input class="m-2" type="radio" id="other" name="gender" value="other">
    <label for="other">Nunca</label>
</form>

<p class="pl-3 ml-5 mt-5">71. La diplomacia y la política entre los miembros solo entorpecen la dinámica del equipo </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">72. Trato de demostrarle la lógica y los beneficios de mi posición.</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Trato de demostrarle la lógica y los beneficios de mi posición.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Al iniciar negociaciones trato de ser considerado respecto de los deseos de la otra persona.</label>

</form>

<p class="pl-3 ml-5 mt-5">73. Un buen equipo de trabajo, soporta y se adapta mejor a los cambios </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>

<p class="pl-3 ml-5">74. </p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      A. Propongo una proposición intermedia.
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">B. Casi siempre me preocupo de satisfacer todos nuestros deseos</label>

</form>

<p class="pl-3 ml-5 mt-5">75. La comunicación debe restringirse solo a aspectos operativos y técnicos</p>
<form class="ml-5 pl-5">
    <input class="m-2" type="radio" id="male" name="gender" value="male">
    <label for="male">
      Si
    </label><br>
    <input class="m-2" type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>
</form>



<div class="continuarButton">
    <button type="button" class="btn btn-primary">Continuar</button>
</div>
