<h3 class="presentationTest">Presentación de la Prueba</h3>

<p class="pl-5">Preguntas:</p>

<p class="pl-4">1. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem culpa odit quas quidem placeat cumque harum corporis voluptatibus maxime, ipsa officiis hic laudantium impedit illum in nihil. Ipsam, ex culpa!</p>
<div class="p-5">
    <label for=""><input type="checkbox" id="cbox1" value="first_checkbox">Esta corresponde a la opcion 1</label><br>
    <label for=""><input type="checkbox" id="cbox2" value="second_checkbox">Esta corresponde a la opcion 2</label><br>
    <label for=""><input type="checkbox" id="cbox3" value="third_checkbox">Esta corresponde a la opcion 3</label><br>
    <label for=""><input type="checkbox" id="cbox4" value="fourth_checkbox">Esta corresponde a la opcion 4</label>
</div>
<div class="continuarButton">
    <button type="button" class="btn btn-primary">Continuar</button>
</div>
