/* llamado para la imagen de fondo*/
.imgFondo {
  background: url(../../assets/Fondo.jpeg) no-repeat center top;
}

.Contfon {
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.imgFondoLogo {
  background-image: url(../../assets/logoLogin.png);
}

.logoImg {
  width: 130px;
  height: 130px;
  position: absolute;
  top: -60px;
  left: calc(50% - 50px);
  background-size:contain;
  background-position:auto;
  background-repeat: no-repeat;
}

.login {
  width: 450px;
  height: 450px;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 6%;
}

 .txtinicio {
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
}

input {
  width:100%;
  margin-bottom: 30px;
}
 .subTxt1{
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(13, 54, 143);
  outline: none;
  height: 80px;
  font-size: 20px;
  padding-top: 25px;
}

.ingresar{
  border: none;
  outline: none;
  height: 40px;
  background: #1e1972;
  color: rgb(216, 215, 215);
  font-size: 18px;
  border-radius: 20px;
}

 .ingresar:hover {
  cursor: pointer;
  background: #eed70b;
  color: rgb(27, 26, 26);
}

