



<div class="">
  <div class="imgFondo col-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="login col-12 col-sm-12 col-md-12 col-lg-12  "></div>
      <div class="imgFondoLogo logoImg "></div>

      <div class="">
        <h1 class="txtinicio col-12 col-sm-12 col-md-12 col-lg-12">AINCA SEGURIDAD Y PROTECCIÓN</h1>
        <form>
          <!-- INICIO DE SECCION INGRESE USUARIO -->
          <!-- <label class="intTxt" for="username">Nombre de usuario</label> -->
          <input class="subTxt1" type="text" placeholder="Ingrese Su Nombre" />
          <!-- INICIO DE SECCION INGRESE CONSTRASEÑA -->
          <!-- <label class="intTxt" for="password">Contraseña</label> -->
          <input class="subTxt1 " type="text" placeholder="Ingrese Su Contraseña" />
          <input class="ingresar" type="submit" value="Ingresar" />
        </form>
      </div>
</div>
