



<div class="">
  <div class="imgFondo col-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="login col-12 col-sm-12 col-md-12 col-lg-12  "></div>
      <div class="imgFondoLogo logoImg "></div>

      <div class="">
        <h1 class="txtinicio col-12 col-sm-12 col-md-12 col-lg-12">AINCA SEGURIDAD Y PROTECCIÓN</h1>
          <form class="col-12 col-sm-12 col-md-12 col-lg-12 formData ">
            <div>
              <input class="subTxt1 py-3" type="text" placeholder="Ingrese Su Nombre" />
            </div>
            <div>
              <input class="subTxt1 py-3 " type="text" placeholder="Ingrese Su Contraseña" />
            </div>
            <div>
              <input class="ingresar m-5" type="submit" value="Ingresar" />
            </div>
          </form>
      </div>
</div>
