<div>
    <div class="p-3">
        <h3 class="encabezado p-3">Carga de Documentos</h3>
    </div>
    <div class="izq col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="contentAling ">
            <p class="m-3">Cedula de ciudadanía</p>
            <button type="button" class="btn btn-primary">Cargar Archivo</button>
        </div>
        <div class="contentAling ">
            <p class="m-3">Hoja de Vida</p>
            <button type="button" class="btn btn-primary">Cargar Archivo</button>
        </div>
        <div class="contentAling">
            <p class="m-3">Curso antiguo</p>
            <button type="button" class="btn btn-primary">Cargar Archivo</button>
        </div>
        <div class="contentAling">
            <p class="m-3">Ultimo Curso</p>
            <button type="button" class="btn btn-primary">Cargar Archivo</button>
        </div>
    </div>
    <div class="der col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

    </div>
    <div class="contentButton col-10 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <button type="button" class="btn btn-primary m-5">Continuar</button>
    </div>
</div>
