<p class="encabezado p-3">Carga de Documentos</p>
<div>
    <p class="pl-5">Documento de identidad <button type="button" class="btn btn-primary">Subir archivos</button></p>
    <p class="pl-5">Hoja de Vida <button type="button" class="btn btn-primary ml-5">Subir archivos</button></p>
    <p class="pl-5">Curso Antiguo<button type="button" class="btn btn-primary ml-5">Subir archivos</button></p>
    <p class="pl-5">Último Curso <button type="button" class="btn btn-primary ml-5">Subir archivos</button></p>

    <button type="button" class="btn btn-primary m-5">Continuar</button>


</div>