<h3 class="encabezado">Formularios básicos</h3>
<form class="">
    <div class="nameUser">
        <label class=" p-3" for="">Nombres</label>
        <input type="text">
    </div>
    <div class="lastnameUser">
        <label class="p-3" for="">Apellidos</label>
        <input type="text">
    </div>
    <div class="address">
        <label class="p-3" for="">Dirección</label>
        <input type="text">
    </div>
    <div class="phone">
        <label class="p-3" for="">Teléfono</label>
        <input type="text">
    </div>
    <div class="age">
        <label class="p-3" for="">Edad</label>
        <input type="text">
    </div>
    <div class="">
        <label class="p-3" for="">Genero</label>
        <input type="text">
    </div>
    <div class="scolarship">
        <label class="p-3" for="">Escolaridad</label>
        <input type="text">
    </div>
</form>
<div class="continuarButton">
    <button type="button" class="btn btn-primary">Continuar</button>
</div>
