<div class="principal">
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Datos del aspirante</legend>
            <div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Nombres</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar Nombres" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Apellidos</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar Apellidos" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Dirección</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder=" Ingresar su Dirección" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Teléfono</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar su Teléfono" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Edad</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar su Edad" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Genero</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar su Genero" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-12 control-label" for="textinput">Escolaridad</label>
                            <div class="col-12">
                                <input id="textinput" name="textinput" type="text" placeholder="Ingresar su Escolaridad" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="contentButton">
        <button type="button" class="btn btn-primary mr-3 mb-3">Continuar</button>
    </div>
</div>
