<h1 class="encabezado ">Formularios básicos</h1>
<form class="">

    <div class="nameUser ">
        <div class="name ">
            <label class="m-3 " for="">Nombres:</label>
            <input class="" type="text">
        </div>
        <div class="lastName ">
            <label class="m-3" for="">Apellidos:</label>
            <input type="text">
        </div>
    </div>
    <div class="nameUser ">
        <div class="name ">
            <label class="m-3" for="">Dirección</label>
            <input type="text">
        </div>
        <div class="lastName ">
            <label class="m-3" for="">Telefono</label>
            <input type="text">
        </div>
    </div>
    <div class="nameUser">
        <div class="name">
            <label class="ml-5 mr-3" for="">Edad</label>
            <input type="text">
        </div>
        <div class="lastName">
            <label class="m-3" for="">Genero</label>
            <input class="" type="text">
        </div>
    </div>
    <div class="nameUser">
        <div class="name">
            <label class="m-3" for="">Escolaridad</label>
            <input class="" type="text">
        </div>
    </div>

</form>
<div class="continuarButton">
    <button type="button" class="btn btn-primary">Continuar</button>
</div>
