legend {
    text-align: center;
    padding: 20px;
}

.contentButton {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.principal {
    /* width: 100%; */
    background-color: #FEFEFE;
    background-size: cover;
}
